@charset "utf-8";

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-Medium.ttf);
}

html {
    font-size: 20px;
}

#hide,
#hide-small {
    position: absolute;
    height: 0;
    overflow: hidden;
    white-space: pre;
}

body {
    font-family: Ubuntu, sans-serif;
}

body > section {
    padding: 4rem 0;
}
