body {
    font-family: Arial, sans-serif;
    font-display: swap;
    color: #000;
    font-size: 20px;
    overflow-x: hidden; /** fix mobile right paddings bugs */

    p {
        margin: 0;
    }

    * {
        box-sizing: border-box;
    }

    &.no-scroll {
        overflow-y: hidden;
    }
}

.nowrap {
    white-space: nowrap;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 15px;
    }
}
