.application {
    background-color: #fff;
    border-radius: 14px;
    padding: 55px 110px 90px;
    position: relative;
    display: block;
    text-align: center;

    &__close {
        background: url(../i/close-icon.svg) no-repeat center;
        background-size: cover;
        height: 35px;
        position: absolute;
        right: 20px;
        top: 20px;
        width: 35px;
        cursor: pointer;

        &:hover {
            background-image: url(../i/close-icon_hover.svg);
        }
    }

    &__form {
        margin-bottom: 30px;
    }

    &__title {
        margin-bottom: 50px;
        text-align: center;
    }

    &__input {
        margin-bottom: 30px;
        display: block;
    }

    &__input-label {
        line-height: 2;
        color: #9a9a9a;
        text-align: left;
    }

    &__input-control {
        width: 100%;
        color: #000 !important;
    }

    &__success {
        padding: 250px 0;

        .heading {
            margin-bottom: 30px;
        }
    }
}

