.application {
    align-items: center;
    background-color: #fff;
    border-radius: 14px;
    display: inline-flex;
    flex-direction: column;
    padding: 55px 110px 100px 110px;
    position: relative;

    &__close-icon {
        background: url(../i/close-icon.svg) no-repeat center;
        height: 30px;
        margin: 20px 20px 0 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;

        &:hover {
            background-image: url(../i/close-icon_hover.svg);
        }
    }

    &__title {
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 50px;
        text-align: center;
    }

    &__input {
        border: none;
        border-bottom: solid 2px #36a6fd;;
        font-size: 18px;
        outline: none;
        resize: none;
    }

    &__input-label {
        font-size: 8px;
        color: #9a9a9a;
        line-height: 2;
        margin-bottom: 15px;
    }
}

.application.application_error {
    .application__input {
        border-bottom-color: #ee5454;;
    }

    .application__input-label {
        color: #ee5454;
    }

    .button.button_blue {
        opacity: 0.3;
        cursor: auto;

        &:hover {
            background-color: #36a6fd;
            box-shadow: none;
        }

        &:active {
            color: #fff;
        }
    }
}

.application.application_success {
    .button {
        padding-left: 80px;
        padding-right: 80px;
    }
}
