.carousel {
    position: relative;

    &__ctrl {
        background: url(../i/arrow-gray.svg) no-repeat center;
        cursor: pointer;
        height: 54px;
        position: absolute;
        width: 28px;
        top: calc(50% - 27px);

        &:hover {
            background-image: url(../i/arrow-red.svg);
        }

        &_next {
            right: -100px;
        }

        &_prev {
            left: -100px;
            transform: rotate(180deg);
        }
    }

    &__wrapper {
        overflow: hidden;
    }

    &__items {
        display: flex;
        flex-wrap: nowrap;
        height: 100%;
        transition: transform .3s ease-in-out;
        transform: translateX(0);
    }

    &__item {
        flex: 1 0 100%;
    }
}
