.carousel {
    position: relative;

    .owl-prev,
    .owl-next {
        background: url(../i/arrow-gray.svg) no-repeat center !important;
        cursor: pointer;
        height: 54px;
        position: absolute;
        width: 28px;
        top: calc(50% - 27px);
        outline: none;

        &:hover:not(.disabled) {
            background-image: url(../i/arrow-red.svg) !important;
        }
    }

    .owl-prev,
    .owl-next {
        &.disabled {
            visibility: hidden;
        }
    }

    .owl-prev {
        left: -100px;
        transform: rotate(180deg);
    }

    .owl-next {
        right: -100px;
    }

    .owl-stage-outer {
        margin-bottom: 30px;
    }

    .owl-dots {
        display: flex;
        justify-content: center;
    }

    .owl-dot {
        outline: none;
        margin-right: 10px;

        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #d8d8d8 !important;

        &.active {
            background: #36a6fd !important;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 769px) {
    .carousel {
        &__ctrl {
            &_next {
                right: -60px;
            }

            &_prev {
                left: -60px;
            }
        }
    }
}
