.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__item {
        margin: 0 40px;
        flex: 1;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        a {
            color: #4a90e2;

            &:hover {
                color: #ee5454;
            }
        }
    }

    &__item-title {
        font-weight: bold;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 768px) {
    .columns {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .columns {
        flex-direction: column;

        &__item {
            margin: 0 0 50px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
