.footer {
    background-color: #ee5454;
    color: #fff;
    font-size: .9rem;
    padding-bottom: 1.5rem;
    text-align: center;

    &__logo {
        background: url(../i/logo.svg) no-repeat center;
        margin: 0 auto;
        min-height: 2rem;
        min-width: 6rem;
    }

    &__info {
        margin-top: 5rem;
    }

    &__info > span,
    &__info > a {
        color: #efd4d4;
        font-size: .6rem;
        margin: 0 1rem;
    }

    &__info-link:hover {
        color: #fff;
    }
}
