.input {
    display: inline-block;

    &__control {
        outline: none;
        background: transparent !important;
        border: none;
        border-bottom: 2px solid;
        resize: none;
        line-height: 1.4;
        border-radius: 0;
        padding: 0;
    }

    &__label {
        line-height: 2;
        text-align: left;
        white-space: nowrap;
    }
}

.input_block {
    display: block;

    .input {
        &__control,
        &__label {
            display: block;
            width: 100%;
        }
    }
}

.input.input_color_red {
    .input {
        &__control {
            border-bottom-color: #ff7571;
            color: #fff;
        }
    }

    &.invalid {
        .input__control {
            border-bottom-color: #fff8a3;
        }
    }
}

.input.input_color_blue {
    .input {
        &__control {
            border-bottom-color: #36a6fd;
            color: #36a6fd;
        }

        &__label {
            color: #9a9a9a;
        }
    }

    &.invalid {
        .input {
            &__control {
                border-bottom: solid 2px #ee5454;
            }

            &__label {
                color: #ee5454;
            }
        }
    }
}
