.input {
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 2px solid;
}

.input.input_color_red {
    border-bottom-color: #ff7571;
    color: #fff;
}

.input.input_color_blue {
    border-bottom-color: #36a6fd;
    color: #36a6fd;
}
