.modal-work {
    .modal__content {
        padding: 140px 100px 35px;
    }

    .owl-stage-outer {
        margin-bottom: 30px;
    }

    .owl-stage {
        display: flex;
    }

    .owl-item {
        float: none !important;
    }
}

@media screen and (max-width: 690px) {
    .modal-work {
        .modal__content {
            padding: 80px 20px 100px;
        }
    }
}
