.modal-work {
    max-width: 800px;
    margin-bottom: 10px;

    .modal__content {
        padding: 140px 50px 35px;
    }

    .owl-stage-outer {
        margin-bottom: 30px;
    }

    .owl-stage {
        display: flex;
    }

    .owl-item {
        float: none !important;
    }
}

@media screen and (max-width: 440px) {
    .modal-work {
        .modal__content {
            padding-top: 35px;
        }
    }

    .application {
        &__title {
            font-size: 25px;
        }
    }
}
