.section_3 {
    background-color: #f6f5ea;

    &__header {
        margin-bottom: 20px;
    }

    &__about {
        margin-bottom: 40px;
    }

    &__carousel {
        width: 600px;
        padding-bottom: 35px;
        border-bottom: 1px solid #b6ccdd;
        margin-bottom: 40px;
    }

    &__carousel-page {
        display: flex;
        flex-wrap: wrap;
        align-content: stretch;
    }

    &__carousel-item {
        padding: 20px 10px 10px;
        width: 50%;
        height: 50%;
        cursor: pointer;
        color: #969696;
        font-size: 15px;
        line-height: 1.4;

        &:hover {
            color: #ee5454;
        }
    }

    &__carousel-item-logo {
        width: 60% !important;
        object-fit: contain;
        height: 100px;
        display: block;
        margin: 0 auto 10px;
    }
}

@media screen and (max-width: 768px) {
    .section_3 {
        &__carousel {
            width: 560px;
        }

        &__carousel-item {
            font-size: 13px;
            line-height: 1.38;
        }
    }
}

@media screen and (max-width: 600px) {
    .section_3 {
        &__carousel {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        &__carousel-page {
            flex-flow: column;
        }

        &__carousel-item {
            padding: 0;
            width: 100%;
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: 440px) {
    .section_3 {
        &__carousel {
            width: 290px;
        }
    }
}
