.section.section_1 {
    align-items: center;
    background-color: #ee5454;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.section_1 {
    &__heading {
        margin-bottom: 9rem;
    }

    &__logo {
        background: url(../i/logo.svg) no-repeat center;
        height: 2rem;
        margin-bottom: 4.5rem;
        width: 6rem;
    }

    &__form {
        font-size: 1.8rem;
        margin-bottom: 2.25rem;
    }

    &__form-input {
        min-width: 11rem;
        width: 11rem;
        background: transparent;
        border: none;
        border-bottom: solid 2px #ff7571;
        color: #fff;

        &_mail {
            min-width: 18rem;
            width: 18rem;
        }

        &_tel {
            min-width: 16.6rem;
            width: 16.6rem;
        }
    }

    &__form-input:focus {
        outline: none;
    }

    &__form-input-prefix {
        color: #eeb0ae;
        font-size: 1rem;
        line-height: 1.5;
        text-align: left;
    }

    &__form-contacts {
        display: inline-block;
        margin-bottom: 2.5rem;
    }

    &__info {
        padding-top: 2rem;
        text-align: center;
    }

    &__info-item {
        color: #ffcece;
        display: inline-block;
        font-family: Arial, sans-serif;
        margin: .75rem 1.5rem;
    }

    &__info-main {
        font-size: 1.65rem;
        font-weight: bold;
    }

    &__info-comment {
        font-size: .75rem;
    }

    &__message {
        color: #fff8a3;
        font-family: Arial, sans-serif;
        font-size: .75rem;
        line-height: 2.5rem;
        visibility: hidden;
    }
}

.section_1__form.section_1__form_error {
    .section_1__form-input {
        border-bottom: solid 2px #fff8a3;
    }

    .section_1__message {
        visibility: visible;
    }

    .button.button_white {
        background: #fff;
        cursor: auto;
        opacity: 0.3;

        &:hover {
            box-shadow: none;
            color: #ee5454;
        }

        &:active {
            color: #ee5454;
        }
    }
}
