.section_6 {
    background-image: linear-gradient(111deg, #5b595b, #5b5762);
    color: #fff;

    &__header {
        margin-bottom: 30px;
    }

    &__about {
        margin-bottom: 40px;
    }

    &__carousel {
        width: 600px;

        .owl-prev,
        .owl-next {
            top: 70px;
        }
    }

    &__carousel-page {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        align-content: stretch;
    }

    &__feedback {
        padding: 0 15px; /* bubble box-shadow */
    }

    &__feedback-bubble {
        background-image: linear-gradient(to bottom, #6cb5ff, #3999f8);
        border-radius: 105px;
        box-shadow: 0 6px 14px 0 rgba(0, 0, 0, 0.19);
        text-align: left;
        height: 200px;
        padding: 20px 75px;
        position: relative;
        text-overflow: ellipsis;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:after {
            content: '';
            width: 61px;
            height: 33px;
            background: url('../i/bubble__tail.svg') no-repeat center;
            position: absolute;
            bottom: -33px;
            left: 85px;
        }

        p {
            margin-bottom: 10px;
        }
    }

    &__feedback-meta {
        display: flex;
        padding-left: 20px;
        align-items: center;
    }

    &__feedback-avatar {
        height: 69px;
        /** overwrite carousel styles */
        width: 69px !important;
        border-radius: 50%;
    }

    &__feedback-person {
        margin: 0 15px;
        flex-grow: 1;
        color: #bebebe;
        text-align: left;
        font-size: 18px;
    }

    &__feedback-person-name {
        font-weight: bold;
    }

    &__feedback-person-description {
        a {
            border-bottom: 1px solid;
            color: inherit;
            text-decoration: none;

            &:hover {
                color: #fff;
            }
        }
    }

    &__feedback-logo {
        height: 100%;
    }

    &__feedback-logo-pic {
        display: block;
        object-fit: contain;
        max-height: 70px;
        max-width: 130px;
        cursor: pointer;
    }
}
