.section_4 {
    &__heading {
        margin-bottom: 4rem;
    }

    &__list {
        counter-reset: li;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__list-item {
        margin: 0 auto 30px;
    }

    &__list-item:before {
        border: 1px solid #ee5454;
        border-radius: 50%;
        color: #ee5454;
        content: counter(li);
        counter-increment: li;
        font-size: .75rem;
        font-weight: bold;
        text-align: center;
        position: absolute;
        padding: .3rem .5rem;
    }

    &__list-item-title {
        font-size: 1.25rem;
        margin-bottom: .5rem;
        margin-left: 2rem;
    }

    &__list-item-comment {
        font-size: .75rem;
        margin-left: 2rem;
    }
}
