.section_2 {
    &__header {
        .heading {
            margin-bottom: 50px;
        }
    }

    &__info {
        margin-bottom: 55px;
        display: flex;
    }

    &__info-item {
        margin: 0 40px;
    }

    &__info-item-title {
        font-weight: bold;
        margin-bottom: 30px;
    }
}
