.section.section_footer {
    background-color: #ee5454;
    color: #fff;
    font-size: .9rem;
}

.section_footer {
    &__inner {
        padding: 40px;
    }

    &__info {
        margin-top: 5rem;
    }

    &__info > span,
    &__info > a {
        color: #efd4d4;
        font-size: .6rem;
        margin: 0 1rem;
    }

    &__info-link:hover {
        color: #fff;
    }
}
