.section_7 {
    background-color: #3c3743;
    color: #fff;

    &__header {
        margin-bottom: 20px;

        .heading {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__form-columns {
        display: flex;
        margin-bottom: 40px;
    }

    &__form-column {
        flex: 1;
        margin: 0 20px;
        text-align: left;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__form-input {
        margin-bottom: 10px;
        width: 100%;
    }

    &__form-label {
        color: #9a9a9a;
        white-space: nowrap;
    }

    &__error-message {
        color: #ee5454;
        line-height: 2.5rem;
        visibility: hidden;
    }
}

.section_7__form.error {
    .section_7__form-input {
        border-bottom: solid 2px #ee5454;
        color: #ee5454;
    }

    .section_7__form-label {
        color: #ee5454;
    }

    .button {
        background-color: rgba(#fff, 0.2);
        color: rgba(#fff, 0.45);
        cursor: auto;
        pointer-events: none;
        box-shadow: none !important;
    }

    .section_7__error-message {
        visibility: visible;
    }
}
