.section_5 {
    background-image: linear-gradient(to bottom, #e8eef6, #eefdff);

    &__header {
        margin-bottom: 35px;
    }

    &__about {
        margin-bottom: 80px;
    }

    &__columns {
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 440px) {
    .section_5 {
        &__header {
            margin-bottom: 20px;
        }

        &__about {
            margin-bottom: 70px;
        }

        &__columns {
            margin-bottom: 30px;
        }
    }
}
