.section.section_1 {
    background-color: #ee5454;
    color: #fff;
    flex-direction: column;
}

.section_1 {
    &__heading {
        margin-bottom: 9rem;
    }

    &__logo {
        margin-bottom: 70px;
    }

    &__form {
        margin-bottom: 2.25rem;
    }

    &__form-input {
        min-width: 11rem;
        width: 11rem;
        background: transparent;
        border: none;
        border-bottom: solid 2px #ff7571;
        color: #fff;

        &_mail {
            min-width: 18rem;
            width: 18rem;
        }

        &_tel {
            min-width: 16.6rem;
            width: 16.6rem;
        }
    }

    &__form-input:focus {
        outline: none;
    }

    &__form-input-prefix {
        color: #eeb0ae;
        text-align: left;
    }

    &__form-interactive {
        margin-bottom: 40px;
    }

    &__form-contacts {
        font-style: italic;
        font-family: Ubuntu, sans-serif;
        display: inline-block;
        margin-bottom: 2.5rem;
    }

    &__form-message {
        color: #fff8a3;
        font-family: Arial, sans-serif;
        font-size: .75rem;
        line-height: 2.5rem;
        visibility: hidden;
    }

    &__stat {
        display: flex;
    }

    &__stat-item {
        color: #ffcece;
        margin: 0 50px;
    }

    &__stat-item-title {
        font-size: 33px;
        font-weight: bold;
    }

    &__stat-item-comment {
        font-size: 15px;
        line-height: 1.4;
    }
}

.section_1__form.section_1__form_error {
    .section_1__form-input {
        border-bottom: solid 2px #fff8a3;
    }

    .section_1__message {
        visibility: visible;
    }

    .button.button_white {
        background: #fff;
        cursor: auto;
        opacity: 0.3;

        &:hover {
            box-shadow: none;
            color: #ee5454;
        }

        &:active {
            color: #ee5454;
        }
    }
}
