.section_5 {
    background-image: linear-gradient(to bottom, #e8eef6, #eefdff);

    &__header {
        margin-bottom: 35px;
    }

    &__about {
        margin-bottom: 80px;
    }

    &__columns {
        margin-bottom: 60px;
    }
}
