.section_2 {
    &__header {
        .heading {
            margin-bottom: 50px;

            &:last-child {
                margin-bottom: 65px;
            }
        }
    }

    &__columns {
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 768px) {
    .section_2 {
        &__header {
            .heading {
                margin-bottom: 55px;

                &:last-child {
                    margin-bottom: 45px;
                }
            }
        }

        &__columns {
            margin-bottom: 50px;
        }
    }
}

@media screen and (max-width: 440px) {
    .section_2 {
        &__header {
            .heading {
                margin-bottom: 60px;

                &:last-child {
                    margin-bottom: 30px;
                }
            }
        }

        &__columns {
            margin-bottom: 40px;
        }
    }
}
