.section_7 {
    background-color: #3c3743;
    color: #fff;

    .section__inner {
        padding-bottom: 30px;
    }

    &__header {
        margin-bottom: 30px;

        .heading {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__form-columns {
        display: flex;
        margin-bottom: 40px;
    }

    &__form-column {
        flex: 1;
        margin: 0 20px;
        text-align: left;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__error-message {
        color: #ee5454;
        line-height: 50px;
    }

    .text-phone {
        display: none;
    }
}

@media screen and (max-width: 440px) {
    .section_7 {
        &__form-columns {
            flex-direction: column;
            padding: 0 20px;
        }

        &__form-column {
            margin: 0 0 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .text-desktop {
            display: none;
        }

        .text-phone {
            display: block;
        }
    }
}
