.section.section_1 {
    background-color: #ee5454;
    color: #fff;
    flex-direction: column;
}

.section_1 {
    &__header {
        margin-bottom: 9rem;
    }

    &__logo {
        margin-bottom: 70px;
    }

    &__form {
        margin-bottom: 60px;
    }

    &__form-input {
        font-family: Ubuntu, sans-serif;
        font-style: italic;
        max-width: 600px;

        &_type_name {
            width: 360px;
        }

        &_type_brand {
            width: 160px;
            max-width: 350px;
        }

        &_type_email,
        &_type_phone {
            width: 350px;
        }
    }

    &__form-header {
        margin-bottom: 40px;
    }

    &__form-contacts {
        font-style: italic;
        font-family: Ubuntu, sans-serif;
        display: inline-block;
        margin-bottom: 2.5rem;
    }

    &__form-contacts-item {
        color: #eeb0ae;
        text-align: left;
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__form-error-message {
        color: #fff8a3;
        font-size: 1rem;
        line-height: 3rem;
        visibility: visible;
    }

    &__stat {
        display: flex;
    }

    &__stat-item {
        color: #ffcece;
        margin: 0 50px;
    }

    &__stat-item-title {
        font-size: 33px;
        font-weight: bold;
    }

    &__stat-item-comment {
        font-size: 15px;
        line-height: 1.4;
    }
}

.section_1__form.section_1__form_error {
    .section_1__form-input {
        border-bottom: solid 2px #fff8a3;
    }

    .section_1__message {
        visibility: visible;
    }

    .button.button_white {
        background: #fff;
        cursor: auto;
        opacity: 0.3;

        &:hover {
            box-shadow: none;
            color: #ee5454;
        }

        &:active {
            color: #ee5454;
        }
    }
}
