.section_footer {
    background-color: #ee5454;
    color: #fff;
    font-size: 15px;

    .section__inner {
        padding: 40px;
    }

    &__info {
        margin-top: 5rem;
    }

    &__info-item {
        margin: 0 20px;
        color: #efd4d4;
        text-decoration: none;
        font-size: 13px;

        &[rel="email"] {
            border-bottom: 1px solid;

            &:hover {
                color: #fff;
            }
        }
    }

}
