.section_8 {
    background-color: #ee5454;
    color: #fff;

    &__header {
        margin-bottom: 80px;
    }

    &__sub-title {
        font-size: 30px;
        font-weight: 500;
    }

    &__tariffs {
        display: flex;
        justify-content: center;
    }

    &__tariffs-item {
        padding-bottom: 80px;
        position: relative;

        .button {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    &__tariffs-item-title {
        font-weight: bold;
        text-align: center;
    }

    &__tariffs-item-price {
        font-size: 70px;
    }

    &__tariffs-item-currency {
        font-size: 30px;
    }

    &__tariffs-item-comment {
        text-align: left;
        margin-bottom: 35px;
    }

    &__tariffs-item-list {
        padding-inline-start: 0;
    }

    &__tariffs-item-list-item {
        margin-bottom: 35px;
        text-align: left;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .section_8 {
        &__tariffs-item-price {
            font-size: 40px;
        }
    }
}
