.section-2 {
    text-align: center;

    &__title {
        &_red {
            color: #ee5454;
        }
    }

    &__info {
        margin-bottom: 2rem;
    }

    &__info-item {
        display: inline-block;
        font-family: Arial, sans-serif;
        margin: 2.5rem 1rem 1rem 1rem;
    }
}
