.section.section_3 {
    background-color: #f6f5ea;
}

.section_3 {
    &__header {
        margin-bottom: 20px;
    }

    &__about {
        margin-bottom: 40px;
    }

    &__carousel {
        margin-bottom: 50px;
    }

    &__carousel-wrapper {
        width: 600px;
        height: 460px;
    }

    &__carousel-page {
        display: flex;
        flex-wrap: wrap;
        align-content: stretch;
    }

    &__carousel-item {
        padding: 20px 10px 10px;
        width: 50%;
        height: 50%;
        cursor: pointer;
        color: #969696;
        font-size: 15px;
        line-height: 1.4;

        &:hover {
            color: #ee5454;
        }
    }

    &__carousel-item-logo {
        width: 60%;
        object-fit: contain;
        height: 100px;
        display: block;
        margin: 0 auto 10px;
    }
}
