.section_8 {
    background-color: #ee5454;
    color: #fff;

    &__header {
        margin-bottom: 85px;
    }

    &__sub-title {
        font-size: 30px;
        font-weight: 500;
    }

    &__tariffs {
        display: flex;
        justify-content: center;
    }

    &__tariffs-item {
        padding-bottom: 80px;
        position: relative;

        .button {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    &__tariffs-item-title {
        font-weight: bold;
        text-align: center;
    }

    &__tariffs-item-price-wrapper {
        white-space: nowrap;
    }

    &__tariffs-item-price {
        font-size: 70px;
    }

    &__tariffs-item-currency {
        font-size: 30px;
    }

    &__tariffs-item-comment {
        text-align: center;
        margin-bottom: 35px;
    }

    &__tariffs-item-list {
        padding-inline-start: 0;
    }

    &__tariffs-item-list-item {
        margin-bottom: 35px;
        text-align: left;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .section_8 {
        .section__inner {
            padding-right: 28px;
            padding-left: 28px;
        }

        &__header {
            margin-bottom: 65px;
        }

        &__tariffs-item-price {
            font-size: 40px;
        }

        &__tariffs-item-list-item {
            margin-bottom: 25px;
        }

        &__tariffs {
            .columns__item {
                margin: 0 20px;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 440px) {
    .section_8 {
        .section__inner {
            padding-right: 32px;
            padding-left: 32px;
        }

        &__header {
            margin-bottom: 50px;
        }

        &__tariffs-item-comment {
            margin-top: 15px;
        }

        &__tariffs-item {
            padding-right: 10px;
            padding-left: 10px;
            padding-bottom: 0 !important;
            margin-bottom: 50px !important;
            margin-left: 0 !important;
            margin-right: 0 !important;

            &:last-child {
                margin-bottom: 0;
            }

            .button {
                position: static;
            }
        }

        &__tariffs-item-list {
            margin-bottom: 45px;
        }
    }
}
