.section_7 {
    background-color: #3c3743;
    color: #fff;

    &__header {
        margin-bottom: 20px;

        .heading {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__form-columns {
        display: flex;
        margin-bottom: 40px;
    }

    &__form-column {
        flex: 1;
        margin: 0 20px;
        text-align: left;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__error-message {
        color: #ee5454;
        line-height: 50px;
        visibility: hidden;
    }
}
