.work {
    padding: 170px 95px 50px;
    text-align: center;
    display: flex;
    flex-direction: column;

    &__logo {
        margin-bottom: 70px;
    }

    &__images {
        margin-bottom: 65px;
        min-height: 650px;
    }

    &__image {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
}
