.work {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    cursor: pointer;

    &__logo {
        margin-bottom: 80px;
    }

    &__image {
        margin-bottom: 50px;
    }

    &__img {
        /** rewrite owl-carousel styles */
        width: auto !important;
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }

    &__name {
        font-size: 21px;
        line-height: 1.24;
        margin-top: auto;
    }
}

@media screen and (max-width: 650px) {
    .work {
        &__logo,
        &__image {
            margin-bottom: 30px;
        }

        &__name {
            br {
                display: none;
            }
        }
    }
}
