.work {
    padding: 170px 50px 50px;
    text-align: center;
    display: flex;
    flex-direction: column;

    &__logo {
        margin-bottom: 80px;
    }

    &__image {
        margin-bottom: 50px;
    }

    &__img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
}
